/*********************************** global **********************************/

/* variables */
:root {
  --pink: #E75480;
  --slate: #edece8;
  --grey: rgba(34,34,34,0.5); }

/* container */

.container {
  max-width: 1000px; }

/* body */

body {
  background: var(--slate); }

/* headings */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  letter-spacing: .05em;
  text-transform: lowercase; }

h1 {
    font-size: 8rem; }

h2 {
    font-size: 4.4rem; }

h3 {
    font-size: 3.8rem; }

h4 {
    font-size: 3.2rem; }

h5 {
    font-size: 2.6rem; }

h6 {
    font-size: 1.0rem; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none; }

/* citation */

blockquote {
  font-style: italic;
}

/* hyperlinks */

a {
    color: var(--pink); }

a:hover {
    color: var(--grey); }

/* images */

img {
    max-width: 100%; }

/*********************************** header **********************************/

/* container */

.header {
  margin-top: 5rem;
  text-align: center; }

/* title */

.title a {
  text-decoration: none;
  color: #222; }

.title a:hover {
  color: var(--grey); }

/* navigation */

.navbar .hamburger {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  text-decoration: none;
  font-size: 2em;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px; }

.navbar .navbar-list {
  display: none; }

.navbar.responsive .navbar-list {
  display: block;
  width: 100%; }

/********************************** content **********************************/

/* container */

.docs-section {
    border-top: 1px solid #eee;
    padding: 4rem 0 0;
    margin-bottom: 0; }

/* hero */

.hero {
    border: 1px dashed var(--pink);
    border-radius: 8px;
    padding: 1rem 1.5rem 0;
    margin: 0 0 2.5rem; }

/* headings */

.docs-section h3,
.docs-section h4,
.docs-section h5,
.docs-section h6 {
    margin: 2.5rem 0; }

.docs-section h3:before,
.docs-section h4:before,
.docs-section h5:before,
.docs-section h6:before {
    color: var(--pink);
    margin-right: 0.5em;
    content: '»'; }

/* blog post */

.postdetails {
  border: 1px dashed var(--pink);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  font-size: 0.875em; }

.postdetails .fas {
  color: var(--pink);
  width: 1.2em; }

/* images */

p.image {
  text-align: center; }

/* vimeo videos */

.vimeo {
  margin-bottom: 2.5rem; }

/* tables */

.docs-section table {
    width: 100%; }

/* lists */

.docs-section ul,
.docs-section ol {
    margin-left: 2rem; }

/* source code */

.highlight {
  margin: 0 0 2.5rem 0;
  overflow-x: hidden; }

.highlight pre {
  margin: 0; }

code {
  background-color: #f9f9f9; }

.highlight code {
  overflow-x: auto; }

.highlight table td {
  padding: 5px; }

.highlight table pre {
  margin: 0; }

.highlight, .highlight .w {
  color: #586e75; }

.highlight .err {
  color: #002b36;
  background-color: #dc322f; }

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #657b83; }

.highlight .cp {
  color: #b58900; }

.highlight .nt {
  color: #b58900; }

.highlight .o, .highlight .ow {
  color: #93a1a1; }

.highlight .p, .highlight .pi {
  color: #93a1a1; }

.highlight .gi {
  color: #859900; }

.highlight .gd {
  color: #dc322f; }

.highlight .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold; }

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #6c71c4; }

.highlight .kc {
  color: #cb4b16; }

.highlight .kt {
  color: #cb4b16; }

.highlight .kd {
  color: #cb4b16; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #859900; }

.highlight .sr {
  color: #2aa198; }

.highlight .si {
  color: #d33682; }

.highlight .se {
  color: #d33682; }

.highlight .nn {
  color: #b58900; }

.highlight .nc {
  color: #b58900; }

.highlight .no {
  color: #b58900; }

.highlight .na {
  color: #268bd2; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #859900; }

.highlight .ss {
  color: #859900; }

/* pagination */

.pagination {
  text-align: center; }

/* back to top */

.back-to-top {
    background-color: var(--pink);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 15px;
    position: fixed;
    bottom:20px;
    right:20px; }

.back-to-top:hover {
    color: #fff;
    background-color: var(--grey); }

/*********************************** footer **********************************/

/* container */

.footer {
  text-align: center;
  font-size: 0.875em;
  border-top: 1px dashed var(--pink);
  padding-top: 40px; }

/* social media */

.social-media {
  list-style: none; }

.social-media li {
  display: inline-block;
  margin: 0 10px; }

/* copy right */

.copyright a {
  text-decoration: none;
  color: inherit; }

.copyright a:hover {
  color: var(--grey); }

/************************************ 404 ************************************/

#goog-fixurl b {
  font-weight: 400; }

#goog-fixurl ul {
  margin-left: 0;
  list-style: none; }

#goog-fixurl form {
  text-align: center; }

#goog-fixurl input {
  margin: 1.5rem 1rem; }

#goog-fixurl input[type="submit"] {
    color: #FFF;
    background-color: #009bcb;
    border-color: #009bcb; }

#goog-fixurl input[type="submit"]:hover {
    color: #FFF;
    background-color: #222;
    border-color: #222; }

/***************************** Larger than phone *****************************/

@media (min-width: 550px) {

    .header {
        margin-top: 6rem;
        margin-bottom: 4rem; }

    .docs-section {
        padding-top: 4rem;
        margin-bottom: 4rem; }

}

/***************************** Larger than tablet ****************************/

@media (min-width: 750px) {

    .navbar .hamburger {
      display: none; }

    .navbar .navbar-list {
      display: block; }

    /* Navbar */

    .navbar + .docs-section {
        border-top-width: 0; }

    .navbar,
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 5.5rem;
        z-index: 99;
        background: var(--slate);
        border-top: 1px dashed var(--pink);
        border-bottom: 1px dashed var(--pink); }

    .navbar-spacer {
        display: none; }

    .navbar > .container {
        width: 100%; }

    .navbar-list {
        list-style: none;
        margin-bottom: 0; }

    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
        width: 25%;
        text-align: center; }

    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: .1rem;
        text-decoration: none;
        line-height: 5.5rem;
        color: #222; }

    .navbar-link.active {
        color: #009bcb; }

    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0; }

    .has-docked-nav .navbar-spacer {
        display: block; }

    /* Re-overiding the width 100% declaration to match size of % based container */

    .has-docked-nav .navbar > .container {
        width: 80%; }

    /* Popover */

    .popover.open {
        display: block; }

    .popover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 4px;
        top: 92%;
        -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
        -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
        filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }

    .popover-item:first-child .popover-link:after,
    .popover-item:first-child .popover-link:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }

    .popover-item:first-child .popover-link:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px; }

    .popover-item:first-child .popover-link:before {
        border-color: rgba(238, 238, 238, 0);
        border-bottom-color: #eee;
        border-width: 11px;
        margin-left: -11px; }

    .popover-list {
        padding: 0;
        margin: 0;
        list-style: none; }

    .popover-item {
        padding: 0;
        margin: 0; }

    .popover-link {
        position: relative;
        color: #222;
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.0rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: .1rem; }

    .popover-item:first-child .popover-link {
        border-radius: 4px 4px 0 0; }

    .popover-item:last-child .popover-link {
        border-radius: 0 0 4px 4px;
        border-bottom-width: 0; }

    .popover-link:hover {
        color: #fff;
        background: var(--pink); }

    .popover-link:hover,
    .popover-item:first-child .popover-link:hover:after {
        border-bottom-color: var(--pink); }

}
