/* CSS Reset (from http://meyerweb.com/eric/tools/css/reset)
----------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Global Settings
----------------------------------------------------------- */

html {
  overflow-y: scroll; }

body {
  background: #fff;
  font: normal 14px/24px 'Open Sans', sans-serif;
  color: #111; }

a, a:visited {
  color: #09C;
  text-decoration: none;
  border-bottom: 1px dotted #09C;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a:hover {
  color: #111;
  border-bottom: 1px dotted #111; }

em, strong {
  font-weight: 700; }

blockquote {
  font-style: italic;
  margin: 0 20px;
  padding: 0 10px;
  border-left: 1px dotted #a00;
  text-align: justify; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.3em; }

code {
  font: 0.85em/1em Monaco, monospace; }

h1, h2, h3, h4 {
  color: #999;
  font-weight: 700;
  font-style: italic;
  margin: 20px 0 10px;
  letter-spacing: 1px; }

h1, h2 {
  font-size: 20px;
  line-height: 30px; }

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 40px 20px; }

/* Header
----------------------------------------------------------- */

#header {
  border-bottom: 1px dotted #666;
  margin: 20px 0;
  padding: 0 0 20px;
  text-align: center; }

#header > h1 {
  color: #111; }

#header nav ul li {
  display: inline;
  margin: 0; }

#header nav ul li:after {
  content: "\00A0\00A0\00B7\00A0\00A0"; }

#header nav ul li:last-child:after {	
  content: ""; }

/* Content
----------------------------------------------------------- */

#content {
  border-bottom: 1px dotted #666;
  margin: 20px 0;
  padding: 0 0 20px; }

#content article header ul {
  color: #999;
  margin: -10px 0 0 0;
  font-size: 0.85em; }

#content article header ul li {
  display: inline;
  margin: 0; }

#content article header ul li:after {
  content: "\00A0\00A0\00B7\00A0\00A0"; }

#content article header ul li:last-child:after {	
  content: ""; }

#content p {
  margin: 10px 0; }

#content p:last-of-type {
  margin: 10px 0 0 0; }

#content p.image {
  text-align: center; }
  
#content p.image a {
  border: none; }

#content ul, #content ol {
  margin: 10px 0; }
  
#content ul li {
  list-style: square ;
  margin: 0 0 0 40px; }

#content ol li {
  list-style: decimal-leading-zero;
  margin: 0 0 0 40px; }

#content img {
  max-width: 100%; }

/* Aside
----------------------------------------------------------- */

#content aside.left-aligned {
  float: left;
  padding: 5px; }

#content aside.right-aligned {
  float: right;
  padding: 5px; }

/* Gallery (http://flex.madebymufffin.com)
----------------------------------------------------------- */

#content .flexslider {
  max-width: 700px;
  margin: 0 auto; }

#content .flexslider li {
  list-style: none;
  position: relative;
  margin: 0 auto; }

#content .flexslider .slides img {
  display: block;
  margin: 0 auto;
  border-radius: 12px; } 

#content .flexslider .flex-control-nav {
  text-align: center; }

#content .flexslider .flex-control-nav li {
  display: inline; }

#content .flexslider .flex-control-nav a {
  display: inline-block;
  width: 12px;
  height: 0;
  padding-top: 12px;
  background-image: url('../images/pagination.png');
  background-position: 0 0;
  overflow: hidden;
  border: none; }

#content .flexslider .flex-control-nav a.active {
   background-position: 0 -12px; }

.flex-direction-nav { /* for the moment hide 'next' and 'previous' controls */
  display: none; }

.flex-caption {
  width: 96%;
  padding: 2%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; }

/* Bikemap Routes
----------------------------------------------------------- */

.bikemap-route {  
  max-width: 100%;
  text-align: center;
  overflow: hidden; }

.bikemap-route iframe {
  width: 600px;
  height: 400px;
  max-width: 100%;
  overflow: hidden; }

/* Embedded Content
----------------------------------------------------------- */

.elastic-iframe {
  position: relative;
  padding-bottom: 55%;
  padding-top: 15px;
  height: 0;
  overflow: hidden; }

.elastic-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Syntax Highlighting (pygments)
----------------------------------------------------------- */

.highlight {
  background: #111;
  border-radius: 12px;
  color: #eee; }
  
.highlight .nb { /* Name.Builtin */
  color: #DA4939; }
  
.highlight .nc { /* Name.Class */
  color: #DA4939; }
  
.highlight .nf { /* Name.Function */
  color: #DA4939; }
  
.highlight .na { /* Name.Attribute */
  color: #DA4939; }

.highlight .nv { /* Name.Variable */
  color: #E8BF6A; }

.highlight .s { /* Literal.String */
  color: #A5C261; }

.highlight .n { /* ??? */
  color: #E8BF6A; } 

.highlight .c { /* Comment */
  color: #6D9CBE; }
  
.highlight .cm { /* Comment.Multiline */
  color: #6D9CBE; }

/* Comments
----------------------------------------------------------- */

#comments ul li {
  list-style: none; }

#comments a {
  border: none; }

/* Pagination
----------------------------------------------------------- */

#content .pagination {
  margin: 25px 0 0 0; }

#content .pagination li { 
  margin: 0; }

.pagination .prev {
  display: block;
  float: left;
  text-align: left;
  width: 40%; }

.pagination .next {
  display: block;
  float: right;
  text-align: right;
  width: 40%; }

/* Twitter
----------------------------------------------------------- */

#twitter {
  border-bottom: 1px dotted #666;
  margin: 20px 0;
  padding: 0 0 20px; }

#twitter aside {
  float: right;
  padding: 0 0 0 15px; }

#twitter li {
  margin: 0 0 10px 0; }

#twitter li:last-of-type {
  margin: 0; }

/* Elsewhere
----------------------------------------------------------- */

#elsewhere {
  border-bottom: 1px dotted #666;
  margin: 20px 0;
  padding: 0 0 20px; }

#elsewhere ul {
  text-align: center; }

#elsewhere ul li {
  display: inline; 
  margin-right: 10px; }

/* GitHub
----------------------------------------------------------- */

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0; }

/* Footer
----------------------------------------------------------- */

#footer {
  text-align: center;
  color: #999; }

#footer ul li {
  display: inline; }

#footer ul li:after {
  content: "\00A0\00A0\00B7\00A0\00A0"; }

#footer ul li:last-child:after {	
  content: ""; }

/* Categories
----------------------------------------------------------- */

#content #categories > li {
  list-style: none;
  margin: 0; }

#content #categories-links li {
  list-style: none;
  display: inline;
  margin: 0 10px 0 0; }

/* Media Queries
----------------------------------------------------------- */

@media screen and (max-width: 800px) {

  .github-ribbon {
    display: none; }

}

/* Fixes
----------------------------------------------------------- */

.clearfix:before, .clearfix:after {
  content: ""; display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }
