---
layout: default
---

{% for post in paginator.posts %}
{% assign content = post.content %}
    {% include article.html %}
{% endfor %}

<nav id="pagination">
  <ul class="pagination clearfix">
    {% if paginator.next_page %}
      <li class="prev"><a href="/pages/{{ paginator.next_page }}" title="Ältere Beiträge"><i class="fas fa-angle-double-left"></i> Ältere Beiträge</a></li>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li class="next"><a href="/" title="Neuere Beiträge">Neuere Beiträge</a> <i class="fas fa-angle-double-right"></i></li>
      {% else %}
        <li class="next"><a href="/pages/{{ paginator.previous_page }}" title="Neuere Beiträge">Neuere Beiträge <i class="fas fa-angle-double-right"></i></a></li>
      {% endif %}
    {% endif %}
  </ul>
</nav>
