<article>
  <header>
    {% unless is_single %}<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>{% endunless %}
    <div class="postdetails">
      <div class="row">
        <div class="seven columns">
          <i class="fas fa-calendar-day"></i> Datum:
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:'%d. %B %Y' | replace:'January','Januar' | replace:'February','Februar' |replace:'March','März' | replace:'May','Mai' | replace:'June','Juni' | replace:'July','Juli' | replace:'October','Oktober' | replace:'December','Dezember' }}</time>
        </div>
        <div class="five columns">
          <i class="fas fa-box"></i> Kategorie:
          {% for category in post.categories %}
            <a href="/articles/by-category/#{{ category }}" title="Artikel zum Thema {{ category | capitalize }}" class="tag">{{ category | capitalize }}</a>{% unless category == post.categories.last %}, {% endunless %}
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="seven columns">
          <i class="fas fa-tags"></i> Schlagworte:
          {% for tag in post.tags %}
            <a href="/articles/by-tag/#{{ tag }}" title="Artikel zum Schlagwort {{ tag | capitalize }}" class="tag">{{ tag | capitalize }}</a>{% unless tag == post.tags.last %}, {% endunless %}
          {% endfor %}
        </div>
        <div class="five columns">
          <i class="fas fa-comments"></i> Kommentare:
          <a href="{% unless is_single %}{{ post.url }}{% endunless %}#comments" data-disqus-identifier="{{ site.url }}{{ post.url }}">Kommentare</a>
        </div>
      </div>
    </div>
  </header>

  {{ content }}

  {% if is_single and site.disqus_username %}
  <section>
    <h3>Kommentare</h3>
    <div id="comments">
      {% include disqus_comments.html %}
    </div>
  </section>
  {% endif %}

</article>
