<ul>
  <li><a href="http://www.twitter.com/stefanglase"><strong>twitter</strong>/stefanglase</a></li>
  <li><a href="http://plus.google.com/104947683648188607313"><strong>google+</strong>/stefanglase</a></li>
  <li><a href="http://www.github.com/codescape"><strong>github</strong>/codescape</a></li>
  <li><a href="http://www.sxc.hu/profile/caseaplace"><strong>sxc</strong>/caseaplace</a></li>
  <li><a href="http://stackoverflow.com/users/266268/stefanglase"><strong>stackoverflow</strong>/stefanglase</a></li>
  <li><a href="http://www.bikemap.net/user/caseaplace"><strong>bikemap</strong>/caseaplace</a></li>
  <li><a href="http://www.facebook.com/stefan.glase"><strong>facebook</strong>/stefan.glase</a></li>
  <li><a href="http://www.xing.com/profile/Stefan_Glase"><strong>xing</strong>/stefan_glase</a></li>
  <li><a href="http://vimeo.com/caseaplace"><strong>vimeo</strong>/caseaplace</a></li>
  <li><a href="http://instagram.com/stefanglase"><strong>instagram</strong>/stefanglase</a></li>
</ul>
