/* Bikemap Routes
----------------------------------------------------------- */

.bikemap-route {  
  max-width: 100%;
  text-align: center;
  overflow: hidden; }

.bikemap-route iframe {
  width: 600px;
  height: 400px;
  max-width: 100%;
  overflow: hidden; }

/* Embedded Content
----------------------------------------------------------- */

.elastic-iframe {
  position: relative;
  padding-bottom: 55%;
  padding-top: 15px;
  height: 0;
  overflow: hidden; }

.elastic-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
