#content {
  max-width: 720px;
  margin: 20px auto;
  padding: 0 20px; }

#content article header ul {
  color: #666;
  margin: -10px 0 0 0;
  font-size: 0.85em; }

#content article header ul li {
  display: inline;
  margin: 0; }

#content article header ul li:after {
  content: "\00A0\00A0\00B7\00A0\00A0"; }

#content article header ul li:last-child:after {	
  content: ""; }

#content p {
  margin: 10px 0; }

#content p:last-of-type {
  margin: 10px 0 0 0; }

#content p.image {
  text-align: center; }
  
#content p.image a {
  border: none; }

#content ul, #content ol {
  margin: 10px 0; }
  
#content ul li {
  list-style: square ;
  margin: 0 0 0 40px; }

#content ol li {
  list-style: decimal-leading-zero;
  margin: 0 0 0 40px; }

#content img {
  max-width: 100%; }

#content aside.left-aligned {
  float: left;
  padding: 5px; }

#content aside.right-aligned {
  float: right;
  padding: 5px; }
