html {
  overflow-y: scroll; }

body {
  background: #222 url('../images/bg.jpg');
  font: 300 14px/26px "Open Sans", sans-serif;
  color: #eee; }

a, a:visited {
  color: #F2B33D;
  text-decoration: none;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a:hover {
  color: #F22E2E; }

em, strong {
  font-weight: 700; }

blockquote {
  background: rgba(0, 0, 0, 0.4);
  font-style: italic;
  padding: 5px 15px 15px;
  border-radius: 4px;
  text-align: justify; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.3em; }

code {
  font: 0.85em/1em Monaco, monospace; }

h1, h2, h3, h4 {
  color: #F22E2E;
  font-weight: 300;
  margin: 20px 0 10px;
  letter-spacing: 1px; }

h1, h2 {
  font-size: 26px;
  line-height: 40px; }

::selection {
  background: #333;
  color: #FFF; }

::-moz-selection {
  background: #333;
  color: #FFF; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }
