html {
  overflow-y: scroll; }

body {
  background: #fff;
  font-family: 'Roboto Condensed', serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  color: #000; }

a, a:visited {
  color: tomato;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1px;
  text-decoration:none;
  -o-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in; }

a:hover {
  color: #333; }

em, strong {
  font-weight: 700; }

blockquote {
  position: relative;
  margin: 21px 0;
  font-weight: bold;
  font-family: 'Indie Flower';
  border-top: 1px dashed #cacaca;
  display: block;
  border-bottom: 1px dashed #cacaca;
  padding: 8px 65px;
  text-align: center;
  line-height: 1.6em;
  font-size: 1.1em;
  border-left: none;
  border-right: none; }

blockquote:before {
  content: "\201C";
  position: absolute;
  left: 0;
  top: 50px;
  font-size: 100px;
  color: #EDEDED;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: initial; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.3em; }

code {
  font: 0.85em/1em Monaco, monospace; }

h1, h2, h3, h4 {
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  margin: 20px 0 10px;
  letter-spacing: 0.8px; }

h1, h2 {
  font-size: 28px;
  line-height: 1.5em;
  text-align: left;
  margin: 0.5em 0; }

h3 {
  font-size: 24px;
}

::selection {
  background: #333;
  color: #FFF; }

::-moz-selection {
  background: #333;
  color: #FFF; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }
