#header {
  border-bottom: 1px dotted #ddd;
  text-align: center;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  background-color: #fff; }

#header > h1 {
  font-size: 28px;
  margin: 10px 0;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px; }

#header > h1 > a, #header > h1 > a:hover {
  border-bottom: none;
  color: #222; }

#header > nav {
  display: inline-block; }

#header > nav a {
  color: #222;
  border-bottom: none; }

#header > nav a:hover {
  color: #000; }

#header li {
  vertical-align: middle;
  display: inline-block;
  margin: 0; }

#header li:after {
  content: "\00A0\00A0\00B7\00A0\00A0"; }

#header li:last-child:after {
  content: ""; }
