#content .pagination {
  margin: 25px 0 0 0; }

#content .pagination li { 
  margin: 0; }

.pagination .prev {
  display: block;
  float: left;
  text-align: left;
  width: 40%; }

.pagination .next {
  display: block;
  float: right;
  text-align: right;
  width: 40%; }
