<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" href="/atom.xml" title="{{ site.title }}" type="application/atom+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">

    <link rel="icon" type="image/ico" href="/favicon.ico">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/site.js"></script>
    <script src="https://kit.fontawesome.com/4b2a30599d.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <section class="header">
        <h1 class="title"><a href="/">{{ site.title }}</a></h1>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <a href="#top" class="hamburger">&#9776;</a>
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/">Startseite</a></li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#" data-popover="#userGuideNavPopover">Artikel</a>
                    <div id="userGuideNavPopover" class="popover">
                        <ul class="popover-list">
                            <li class="popover-item">
                                <a class="popover-link" href="/articles/by-date">Nach Datum</a>
                            </li>
                            <li class="popover-item">
                                <a class="popover-link" href="/articles/by-tag">Nach Schlagwort</a>
                            </li>
                            <li class="popover-item">
                                <a class="popover-link" href="/articles/by-category">Nach Kategorie</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="navbar-item"><a class="navbar-link" href="/about">Über mich</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/publications">Publikationen</a></li>
            </ul>
        </div>
    </nav>

    <div class="docs-section" id="intro">
      {% if page.title %}
        <h2 class="docs-header">{{ page.title }}</h2>
      {% endif %}

        {{ content }}

    </div>

<div class="footer">

      <ul class="social-media">
      {% for profile in site.data.profiles %}
        <li><a href="{{profile.url}}"><strong>{{profile.service}}</strong>/{{profile.username}}</a></li>
      {% endfor %}
      </ul>

      <p class="copyright">
        &copy; <script>document.write(new Date().getFullYear())</script> <a title="Impressum und Kontakt" href="/imprint">Stefan Glase</a>
      </p>

</div>

</div>

  <!-- disqus comment count -->
  {% include disqus_commentcount.html %}

  <!-- google analytics -->
  {% include google_analytics.html %}

</body>
</html>
